*.root
*.out
*.dk0
*.swp
*.sqsh
*.DS_Store
controlplots*
UTILS/job-scheduler/*.o*
UTILS/job-scheduler/mpik-qsub-minishroud*
UTILS/container
UTILS/post/log
UTILS/post/*.o*
UTILS/.nfs*
UTILS/.ycm_extra_conf.py
UTILS/bin
UTILS/test/*root.dat
