*.root
*.out
*.dk0
*.swp
*.sqsh
*.DS_Store
UTILS/post/gen-spectra
UTILS/post/check-simulation
controlplots*
UTILS/job-scheduler/mpik-qsub.sh.o*
UTILS/container
UTILS/post/log
UTILS/post/*.o*
UTILS/.nfs*
UTILS/.ycm_extra_conf.py
UTILS/post/runconfigs.json
UTILS/post/livetime-calc-ph2
