# (possibly big) data files
*.root
*.out
*.dk0

# junk
*.swp
*.DS_Store
*.o*
*.nfs*

# singularity containers
*.sqsh
*.img
*.simg

# software
UTILS/bin
UTILS/.ycm_extra_conf.py
UTILS/test/*root.dat
controlplots*
gerda-mage-sim.json

# other
*.raw*
*.pdf
*.tex
