[Unit]
Description=Service to keep in sync /nfs/gerda5/var/gerda-simulations/gerda-mc2 with the remote mirror at github.com
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/nfs/gerda5/var/gerda-simulations/gerda-mc2
ExecStart=/nfs/gerda5/var/gerda-simulations/gerda-mc2/github-sync.sh

[Install]
WantedBy=multi-user.target
